@model IEnumerable<ProyectoPrograAvanzadaG.Models.Producto>

@{
    ViewBag.Title = "Productos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductList</title>
</head>
<body>
    <h2>Productos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Disponibilidad</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody> 
           @foreach (var producto in Model)
            {
                <tr>
                    <td>@producto.CodigoProducto</td>
                    <td>@producto.NombreProducto</td>
                    <td>@producto.Precio</td>
                    <td>@(producto.Disponibilidad ? "Disponible" : "No Disponible")</td>
                    <td>@(producto.Estado ? "Activo" : "Inactivo")</td>
                    <td>
                        @Html.ActionLink("Detalles", "Details", new { id = producto.CodigoProducto }) |
                        @Html.ActionLink("Editar", "Edit", new { id = producto.CodigoProducto }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = producto.CodigoProducto })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
