@model ProyectoPrograAvanzadaG.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3">
            <div class="dashboard-panel">
                <h3>Usuarios Registrados</h3>
                <p>@Model.TotalUsuarios</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="dashboard-panel">
                <h3>Pedidos Recientes</h3>
                <p>@Model.TotalPedidosRecientes</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="dashboard-panel">
                <h3>Reseñas Pendientes</h3>
                <p>@Model.TotalReseñasPendientes</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="dashboard-panel">
                <h3>Ventas Recientes</h3>
                <p>@Model.TotalVentasRecientes</p>
            </div>
        </div>
    </div>

           <div class="row">
            <div class="col-md-3">
                <!-- Sección de Clientes -->
                <div class="col-md-6">
                    <div class="dashboard-panel">
                        <h3>Clientes</h3>
                        <p>@Model.TotalClientes</p>
                        <p>@Html.ActionLink("Gestionar Clientes", "Index", "Cliente/ListaClientes")</p>
                    </div>
                </div>
            </div>

            <!-- Productos en Inventario -->
            <div class="col-md-3">
                <div class="dashboard-panel">
                    <h3>Productos</h3>
                    <p>@Model.TotalProductos</p>
                    <p>@Html.ActionLink("Gestionar Productos", "Index", "Producto/ListaProductos")</p>
                </div>
            </div>
        </div>
    </div>
</div>
